

body {
  font-family: "Monaco", "Courier New", monospace;
  color: black;
  text-align: center;


}

body2 {
  font-family: Helvetica, sans-serif;
  color: black;
  text-align: left;
  font-size: 20px;

}

a {
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
#hp  {
  float: left;  
  margin: 15px 15px 15px 15px;  

  }


.link {
  margin: 20px;
}