
  a {
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 10px;
    text-align: left;
  }

  .link {
    margin: 8px;
  }

  * {
    box-sizing: border-box;
  }

  img {
    border-radius: 8px;
  }
  
  body {
    font-family: "Monaco", "Courier New", monospace;
    color: black;
    text-align: left;
    background-color: white;
    padding: 20px;
  }
  
  .main {
    max-width: 1500px;
    margin: auto;
  }
  
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: transparent;
    padding: 10px;
  }

@media screen and (max-width: 900px) {
    .column {
      width:  100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  