
  a {
    text-decoration: none;
    color: red;
    background-color: white;
    padding: 10px;
  }

  .link {
    margin: 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Monaco", "Courier New", monospace;
    color: black;
    text-align: left;
    background-color: white;
    padding: 20px;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: transparent;
    padding: 10px;
  }


  